<!-- container for the visualization -->
<div class="viz">
    <!-- before the visualization, appended through the script, add a header explaining the project and a checkbox to highlight the vonoroi diagram -->
    <header>
        <h1>D3 Delaunay</h1>
        <p>The module allows to render a <strong>Vonoroi diagram</strong>, to expand the area for more generous mouse events.</p>
    </header>
    <p>
        To highlight the diagram feel free to
        <label for="toggle">toggle the outline</label>
        <input type="checkbox" id="toggle" name="toggle" />
    </p>
</div>